{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  {% if page and page.abs_url %}
    <meta http-equiv="onion-location" content="http://vcwkbqby652dtqgbtbtr6ouvs6fu5abx5z45dmlug6dl55d6zcadsuqd.onion{{ page.abs_url }}">
  {% endif %}
{% endblock %}

{% block announce %}
Follow us on <a href="https://www.linkedin.com/company/gaseri"><span class="twemoji">{% include ".icons/fontawesome/brands/linkedin.svg" %}</span> LinkedIn</a> and <a href="https://twitter.com/vedranmiletic"><span class="twemoji">{% include ".icons/fontawesome/brands/twitter.svg" %}</span> Twitter</a> for updates.
{% endblock %}

{% block content %}
  {{ super() }}
  {% if page and page.meta %}
    <p>
    {% if page.meta.author %}
      <small>Author: {{ page.meta.author }}</small><br />
    {% endif %}
    {% if page.meta.date %}
      <small>Date: {{ page.meta.date }}</small><br />
    {% endif %}
    </p>
  {% endif %}
{% endblock %}
