{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  {% set title = config.site_name %}
  {% if page and page.meta and page.meta.title %}
    {% set title = page.meta.title ~ " - " ~ title %}
  {% elif page and page.title and not page.is_homepage %}
    {% set title = page.title ~ " - " ~ title %}
  {% endif %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ config.site_description }}" />
  <meta property="og:url" content="{{ page.canonical_url }}" />
  {% if page and page.abs_url %}
    <meta http-equiv="onion-location" content="http://vcwkbqby652dtqgbtbtr6ouvs6fu5abx5z45dmlug6dl55d6zcadsuqd.onion{{ page.abs_url }}">
  {% endif %}
{% endblock %}

{% block announce %}
Follow us on <a href="https://www.linkedin.com/company/gaseri"><span class="twemoji">{% include ".icons/fontawesome/brands/linkedin.svg" %}</span> LinkedIn</a> and <a href="https://twitter.com/vedranmiletic"><span class="twemoji">{% include ".icons/fontawesome/brands/twitter.svg" %}</span> Twitter</a> for updates.
{% endblock %}

{% block content %}
  {{ super() }}
  {% if page and page.meta %}
    <p>
    {% if page.meta.author %}
      <small>Author: {{ page.meta.author }}</small><br />
    {% endif %}
    {% if page.meta.date %}
      <small>Date: {{ page.meta.date }}</small><br />
    {% endif %}
    </p>
  {% endif %}
{% endblock %}
